body{
    background-color:#9f7a5e ;
    font-family: Arial, Helvetica, sans-serif;
}

    
   h3 {
	   text-align: center;
   }

.container{ 
    display: flex;
    padding: 70px;
	flex-direction: column;
	background-color:#cfb4a1;
	align-items: center;
	border: 2px solid black;
    
    
}

#toDoContainer {
    margin: 50px;
   
}

input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(73, 69, 69);
    box-sizing: border-box;
  }
  
 input[type=submit] {
	 width: 100%;
	 border: 2px solid black;
	 border-radius: 10px;
	 padding: 5px;
	 vertical-align: center;
	 background-color:  #FFC300 ;
	 
 }